body
{
  margin:0;
}
.App
{
  height: 100vh;
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-image: url("./images/pexels-pixabay-209831.jpg");

}
.SearchCity
{
  width: 100%;
  text-align: center;
  height: 10vh;
}

input
{
  width: 70%;
  border:2px solid #B2FEFA

}
button
{
  height: 50%;
}
#SearchForm
{
  width: 70%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
 
}
.FormDiv
{
  padding-top: 3%;
}
.weatherDisp
{
  width: 90%;
  margin: auto;
}